/*! HTML5 Boilerplate v9.0.0-RC1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.content-wrapper {
  width: 90%;
  border: 3px dotted red;
}
/* header and footer styles */

header {
  display: flex;
  justify-content: center;
  padding: 15px 0px;
}

header .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

header img {
  width: 100%;
  border: 3px dotted red;
}

header nav {
  width: 60%;
  border: 3px dotted blue;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

header nav ul li a {
  text-decoration: none;
}

.header-divider {
  width: 100%;
  height: 1px;
  margin: 10px 0px 20px 0px;
  border: 3px dotted blue;
}

header figure {
  display: flex;
  justify-content: center;
  width: 60%;
  /* height: ; */
  margin: 0px;
  border: 3px dotted blue;
}

footer {
  display: flex;
  justify-content: center;
}

footer .content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 60%;
  /* border: 3px dotted blue; */
}

footer .social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer .social-icons p {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .footer-content {
  padding: 50px 0px;
}

footer .copyright {
  padding: 20px 0px;
}

footer h4 {
  padding: 20px 0px;
  margin: 0px;
}

footer address {
  padding-bottom: 50px;
}

footer p {
  margin: 0px;
}


/* home page main */

.hero-area {
  display: flex;
  justify-content: center;
  padding: 50px 0px;

}

.newsletter {
  display: flex;
  justify-content: center;
  padding: 50px 0px;
}

.newsletter h3 {
  padding: 20px 0px;
  margin: 0px;
}

.form-description p {
  padding-bottom: 30px;
  margin: 0px;
}

.newsletter .form {
  display: flex;
  flex-wrap: wrap;
}

.form input {
  width: 100%;
}

.form .email {
  padding: 1em;
  margin-bottom: 20px;
}

.form .download {
  padding: 20px 0px;
  margin-top: 20px;
}

.features {
  display: flex;
  justify-content: center;
  padding: 50px 0px;
}

.parent-container-features-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
}

.features article {
  width: 60%;
  padding: 30px 0px;
}

.features h2 {
  padding-bottom: 60px;
  margin: 0px;
}

.features .fontawesome-icon {
  padding-bottom: 40px;
  margin: 0px;
}

.features .features-item-description {
  margin: 0px;
}

.reviews {
  display: flex;
  justify-content: center;
  padding: 50px 0px;
}

.reviews figure {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0px;
  border: 3px dotted blue;
}

.reviews img {
  width: 100%;
}

.reviews h3 {
  padding: 20px 0px;
  margin: 0px;
  /* width: 50%;  why do this*/
}  

.reviews h2 {
  padding-bottom: 40px;
  margin: 0px;
}

.reviews p {
  margin: 0px;
}

/* about page main */

.mission {
  display: flex;
  justify-content: center;
  padding: 50px 0px;
}

.contact {
  display: flex;
  justify-content: center;
  padding: 50px 0px;
}

/* faq page main */

.faq {
  display: flex;
  justify-content: center;
}

.faq .content-wrapper {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  /* align-items: flex-start; */
  padding: 50px 0px 0px 0px;
}
.faq h2 {
  padding-bottom: 40px;
}

.faq .questions {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /* might need the justify content and align items here */
}
.faq-content {
  padding-bottom: 50px;
  width: 100%;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
  /* tablet styles here */
  .content-wrapper {
    max-width: 640px;
  }

  /* header/footer styles */
  header figure {
    width: 30%;
  }
  header nav {
    width: 30%;
  }
  .header-divider {
    width: 30%;
    margin: 0px;
  }
  header .content-wrapper {
    justify-content: space-between;
  }
  footer .content-wrapper {
    width: 100%;
  }
  footer .footer-content {
    padding: 100px 0px;
    display: flex;
    justify-content: space-between;
    /* maybe space evenly here and space between for desktop? */
    width: 100%;
  }
  footer .footer-contact {
    width: 30%;
  }
  footer .footer-social {
    width: 30%;
  }
  footer h4 {
    padding-bottom: 40px;
  }


  /* homepage styles */
  .hero-area {
    padding: 100px 0px;
  }
  .newsletter .content-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .form-description {
    width: 40%;
  }
  .form {
    width: 40%;
  }
  .features {
    padding: 100px 0px;
  }
  .features h2 {
    padding-bottom: 20px;
  }
  .parent-container-features-items {
    justify-content: space-evenly;
    column-gap: 20%;
  }
  .features article {
    width: 30%;
  }
  .features .fontawesome-icon {
    padding-bottom: 30px;
  }
  .reviews {
    padding: 100px 0px;
  }
  .reviews article {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .reviews figure {
    width: 48%;
  }
  .reviews .team-review {
    width: 48%;
  }
  .reviews h3 {
    padding-top: 0%;
  }
  
  /* about page styles */
  .mission {
    padding: 100px 0px;
  }
  .mission .mission-content {
    display: flex;
    justify-content: space-between;
  }
  .mission .mission-content p {
    width: 45%;
    margin: 0px;
    padding-top: 20px;
  }
  .contact {
    padding: 100px 0px;
  }
  .contact .contact-content {
    display: flex;
    justify-content: space-between;
  }
  .contact .contact-address {
    width: 45%;
  }
  .contact .contact-facilitator {
    width: 45%;
  }

  /* faq styles */
  .faq-content {
    width: 45%;
  }
  .faq .questions {
    justify-content: space-between;
  }
  /* faq h2 width 100%? mobile too? margin 0px? */
}

@media only screen and (min-width: 1200px) {
  /* desktop styles here */
  .content-wrapper {
    max-width: 960px;
  }
  /* header/footer styles */
  
  
  /* main page styles */
  
  /*.hero-area h1 {
    width: ; 
  }*/
  .newsletter .content-wrapper {
    justify-content: space-evenly;
  }
  .form-description {
    width: 30%;
  }
  .form {
    width: 30%;
  }
  /*.features h2 {
    width: ;
  }*/
  .parent-container-features-items {
    column-gap: 10%;
  }
  .features article {
    width: 20%;
  }
  .reviews .team-review {
    width: 42%;
  }

  
  /* about page styles */
  /*.mission h2, .conmtact-section .content-wrapper h2 {
    width: ;
  }
  */

  /* faq page styles */
 /* .faq h2 {
    width: 100%;
  }
  */


  

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}